/*GENERAL*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
:root {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  --primary: #1D3240;
  --white: #ffffff;
  --color-1: #AF17FF;
  --color-2: #CA1CC4;
  --gradient-purple: linear-gradient(60deg, var(--color-1), var(--color-2));
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--primary);
  text-decoration: none;
  list-style: none;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: calc(700px + (1400 - 700) * ((100vw - 320px) / (1980 - 320)));
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1980px) {
  .container {
    max-width: 1440px;
  }
}

.centered, .text--title, .text--subtitle {
  text-align: center;
}

.header__subtitle {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1440 - 320)));
}

.header__title {
  margin-bottom: 1rem;
  font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 700;
}

.header__p {
  font-size: 18px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.text--title {
  margin: 1em;
  font-size: 2rem;
  font-weight: 700;
}

.text--subtitle {
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1440 - 320)));
  margin: 1em;
  font-weight: 700;
}

.card__title {
  font-weight: 700;
}

.text--medium {
  font-size: 24px;
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
}

.text--small {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 40px;
  }
  .header__subtitle {
    font-size: 16px;
  }
  .text--subtitle {
    font-size: 20px;
  }
  .text--medium {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .header__title {
    font-size: 80px;
  }
  .header__subtitle {
    font-size: 32px;
  }
  .text--subtitle {
    font-size: 32px;
  }
  .text--medium {
    font-size: 24px;
  }
}

/* NAVIGATION */
.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: var(--white);
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo a img {
  margin: .5rem 0;
  height: 40px;
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
  will-change: filter;
}

.nav__logo a img:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

/* HAMBURGER */
.menu__checkbox {
  display: none;
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.5rem;
  width: 2rem;
  cursor: pointer;
}

.burger__bar {
  height: 3px;
  width: 100%;
  border-radius: 2px;
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
  background-color: var(--primary);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  will-change: transform;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

/* ANIMATIONS ON CHECK */
.menu__checkbox:checked + .menu__button > .burger__bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__checkbox:checked + .menu__button > .burger__bar:nth-child(2) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.menu__checkbox:checked + .menu__button > .burger__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__menu {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--white);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  will-change: transform;
}

.menu__item {
  padding: 2rem 0;
}

.menu__item a {
  font-size: 1.625rem;
  font-weight: 700;
  opacity: .8;
}

.menu__item a:hover {
  opacity: 1;
}

.menu__checkbox:checked ~ .nav__menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 1024px) {
  .nav__menu {
    position: static;
    height: 100%;
    padding: .5rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0rem;
    margin-left: 2em;
  }
  .menu__item a {
    margin: 0;
    font-size: .5rem;
  }
  .menu__button {
    display: none;
  }
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: .5em 2em;
  border-radius: 1.5em;
  border: 2px solid var(--color-1);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn:hover {
  background-color: var(--color-1);
  color: var(--white);
}

.btn:hover > * {
  color: var(--white);
}

.btn--lg {
  padding: 1em 3em;
  color: var(--white);
  background-image: var(--gradient-purple);
  border: none;
}

.btn--lg:hover {
  -webkit-filter: brightness(1) hue-rotate(-10deg);
          filter: brightness(1) hue-rotate(-10deg);
}

.btn--nav {
  margin: 0;
}

.btn--card {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  background-color: #F8F8F8;
}

@media screen and (min-width: 768px) {
  .btn--lg {
    padding: 1.5em 3em;
  }
}

@supports (scroll-behavior: smooth) {
  html {
    scroll-behavior: smooth;
  }
}

.header__image {
  height: 13rem;
}

.header__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.header__right {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 80%;
  background-image: url("/img/svg/shadow.png");
}

@media screen and (min-width: 760px) {
  .header__wrapper {
    -ms-grid-columns: (minmax(300px, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    -ms-grid-rows: (auto)[auto-fit];
        grid-template-rows: repeat(auto-fit, auto);
  }
}

.partners {
  margin: .5rem 0;
  background-color: var(--primary);
}

.partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partner {
  opacity: .8;
  height: 1.5rem;
  margin: .725rem 1.5rem;
  -webkit-filter: grayscale(100%) brightness(1.3);
          filter: grayscale(100%) brightness(1.3);
  -webkit-transition: opacity filter .3s ease;
  transition: opacity filter .3s ease;
}

.partner:hover {
  opacity: 1;
}

.cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  margin: 1rem auto;
  width: 320px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 170px 170px 80px;
      grid-template-rows: 170px 170px 80px;
}

.card header,
.card__top {
  padding: 40px 0;
  margin: 0 40px;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.card__image {
  margin: 0 auto;
  max-height: 80px;
}

.card__header {
  text-align: left;
}

.card__title {
  font-size: 24px;
}

.open-source__image {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.open-source__image img {
  max-height: 100%;
}

.open-source__content * {
  margin: 1rem;
}

.header {
  padding-top: 6rem;
  padding-bottom: 4rem;
}
/*# sourceMappingURL=style.css.map */