/*GENERAL*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
:root {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  --primary: #1D3240;
  --white: #ffffff;
  --color-1: #1188FF;
  --color-2: #076ED5;
  --gradient-purple: linear-gradient(60deg, $color-1, $color-2);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1D3240;
  text-decoration: none;
  list-style: none;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: calc(700px + (1400 - 700) * ((100vw - 320px) / (1980 - 320)));
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1980px) {
  .container {
    max-width: 1400px;
  }
}

.centered, .text--title, .text--subtitle {
  text-align: center;
}

.header__subtitle {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1980 - 320)));
}

.header__title {
  margin-bottom: 1rem;
  font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1980 - 320)));
  font-weight: 700;
}

.header__p {
  font-size: 18px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.text--title {
  margin: 1em;
  font-size: 2rem;
  font-weight: 700;
}

.text--subtitle {
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1980 - 320)));
  margin: 1em;
  font-weight: 700;
}

.card__title {
  font-weight: 700;
}

.text--medium {
  font-size: 24px;
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1980 - 320)));
  font-weight: 400;
}

.text--small {
  font-size: 18px;
  font-weight: 400;
}

.text--lg {
  font-size: calc(24px + (54 - 24) * ((100vw - 320px) / (1980 - 320)));
}

.text--bold {
  font-weight: 700;
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 40px;
  }
  .header__subtitle {
    font-size: 16px;
  }
  .text--subtitle {
    font-size: 20px;
  }
  .text--medium {
    font-size: 16px;
  }
  .text--lg {
    font-size: 24px;
  }
}

@media screen and (min-width: 1980px) {
  .header__title {
    font-size: 80px;
  }
  .header__subtitle {
    font-size: 32px;
  }
  .text--subtitle {
    font-size: 32px;
  }
  .text--medium {
    font-size: 24px;
  }
  .text--lg {
    font-size: 54px;
  }
}

/* NAVIGATION */
.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo a img {
  margin: .5rem 0;
  height: 40px;
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
  will-change: filter;
}

.nav__logo a img:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

/* HAMBURGER */
.menu__checkbox {
  display: none;
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.5rem;
  width: 2rem;
  cursor: pointer;
}

.burger__bar {
  height: 3px;
  width: 100%;
  border-radius: 2px;
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
  background-color: #1D3240;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  will-change: transform;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

/* ANIMATIONS ON CHECK */
.menu__checkbox:checked + .menu__button > .burger__bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__checkbox:checked + .menu__button > .burger__bar:nth-child(2) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.menu__checkbox:checked + .menu__button > .burger__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__menu {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  will-change: transform;
}

.menu__item {
  padding: 2rem 0;
}

.menu__item a {
  font-size: 1.625rem;
  font-weight: 700;
  opacity: .8;
}

.menu__item a:hover {
  opacity: 1;
}

.menu__checkbox:checked ~ .nav__menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 1024px) {
  .nav__menu {
    position: static;
    height: 100%;
    padding: .5rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0rem;
    margin-left: 2em;
  }
  .menu__item a {
    margin: 0;
    font-size: .5rem;
  }
  .menu__button {
    display: none;
  }
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: .5em 2em;
  border-radius: 1.5em;
  border: 2px solid #1188FF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn:hover {
  background-color: #1188FF;
  color: #ffffff;
}

.btn:hover > * {
  color: #ffffff;
}

.btn--lg {
  padding: 1em 3em;
  color: #ffffff;
  background-color: #1188FF;
  border: none;
}

.btn--lg:hover {
  background-color: #076ED5;
}

.btn--nav {
  margin: 0;
}

.btn--card {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  background-color: #F8F8F8;
}

@media screen and (min-width: 768px) {
  .btn--lg {
    padding: 1.5em 3em;
  }
}

@supports (scroll-behavior: smooth) {
  html {
    scroll-behavior: smooth;
  }
}

.header__image {
  height: 13rem;
}

.header__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.header__right {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 80%;
  background-image: url("../img/svg/shadow.png");
}

@media screen and (min-width: 760px) {
  .header__wrapper {
    -ms-grid-columns: (minmax(300px, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    -ms-grid-rows: (auto)[auto-fit];
        grid-template-rows: repeat(auto-fit, auto);
  }
  .header__right {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header__wrapper {
    display: block;
  }
  .header__left {
    display: inline-block;
    width: 70%;
  }
  .header__right {
    display: inline-block;
    width: 29%;
  }
  .open-source__content {
    display: inline-block;
    width: 80%;
  }
  .open-source__image {
    display: inline-block;
    width: 19%;
  }
  .open-source__image img {
    max-height: auto;
  }
  .about__left {
    max-width: auto;
  }
  .card__top {
    display: block;
    text-align: center;
  }
  .card__overlay {
    display: block;
  }
  .card__overlay > * {
    display: block;
    margin-bottom: .5rem;
  }
}

.partners {
  margin: .5rem 0;
  background-color: #1D3240;
}

.partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partner {
  opacity: .8;
  height: 1.5rem;
  margin: .725rem 1.5rem;
  -webkit-filter: grayscale(100%) brightness(1.3);
          filter: grayscale(100%) brightness(1.3);
  -webkit-transition: opacity filter .3s ease;
  transition: opacity filter .3s ease;
}

.partner:hover {
  opacity: 1;
}

.cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  margin: 1rem auto;
  width: 320px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 170px 170px 80px;
      grid-template-rows: 170px 170px 80px;
  -ms-grid-columns: 100% 100% 100%;
      grid-template-columns: 100% 100% 100%;
  position: relative;
  overflow: hidden;
}

.card__overlay {
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: -100px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 40px 40px 140px 40px;
  cursor: pointer;
  -webkit-transition: opacity .2s .1s ease, -webkit-transform .3s ease;
  transition: opacity .2s .1s ease, -webkit-transform .3s ease;
  transition: opacity .2s .1s ease, transform .3s ease;
  transition: opacity .2s .1s ease, transform .3s ease, -webkit-transform .3s ease;
}

.card:hover .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.appstore {
  width: 100%;
  opacity: .7;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.appstore:hover {
  opacity: 1;
}

.card__header,
.card__top {
  padding: 40px 0;
  margin: 0 40px;
}

.card__top {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #aaaaaa;
}

.card__header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.card__image {
  margin: 0 auto;
  max-height: 80px;
}

.card__header {
  text-align: left;
}

.card__title {
  font-size: 24px;
}

.open-source__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.open-source__image {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.open-source__image img {
  max-height: 100%;
}

.open-source__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.open-source__content * {
  margin: 1rem;
}

.open-source__content .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 1000px) {
  .open-source__content .btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .open-source__image {
    margin-left: 1rem;
    margin-bottom: 0;
    height: 100%;
  }
  .open-source__content {
    max-width: 80%;
  }
  .open-source__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .open-source__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.text--about {
  font-weight: 700;
  opacity: .6;
  text-align: center;
  margin-bottom: 3rem;
}

.text--blue {
  color: #0F8AA6;
}

.list__about {
  font-size: 20px;
}

.list__about li {
  margin-bottom: 1.5em;
}

.about {
  padding: 0 1rem;
}

.tech:hover {
  opacity: .7;
}

.tech img {
  height: 100px;
}

.img--profile {
  max-height: 180px;
  border-radius: 50%;
}

.social-links {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--profile {
  -ms-grid-rows: 250px 170px 80px;
      grid-template-rows: 250px 170px 80px;
}

.social {
  height: 50px;
  opacity: .7;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.social:hover {
  opacity: .9;
}

.contact {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .list__about {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__left {
    max-width: 50%;
    padding: 1.5rem;
  }
  .text--about {
    margin: 0;
  }
}

.footer {
  background-color: #1D3240;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 1rem;
}

a.text--medium {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

a.text--medium:hover {
  opacity: .8;
}

.footer * {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.footer__list,
.footer__map {
  display: block;
  padding: 3.5rem 0;
}

.gmap_canvas {
  border-radius: 25px;
}

@media screen and (min-width: 1000px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__list,
  .footer__map {
    width: 30%;
  }
}

.header {
  padding-top: 6rem;
  padding-bottom: 4rem;
}
/*# sourceMappingURL=style.css.map */