.text--about {
    font-weight: 700;
    opacity: .6;
    text-align: center;
    margin-bottom: 3rem;
}


.text--blue {
    color: #0F8AA6;
}

.list__about {
    font-size: 20px;
}

.list__about li {
    margin-bottom: 1.5em;
}

.about__right {}

.about {
    padding: 1rem;
}


.tech img {
    height: 100px;

}

.img--profile {
    max-height: 180px;
    border-radius: 50%;
}

.social-links {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.card--profile {
    grid-template-rows: 250px 170px 80px;
}

.social {
    // margin: 25px;
    height: 50px;
    opacity: .7;
    transition: opacity .3s ease;
}

.social:hover {
    opacity: .9;
}

@media screen and (min-width: 768px) {
    .list__about {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .about__wrapper {
        display: flex;
        align-items: center;
    }

    .about__left {
        max-width: 50%;
        padding: 1.5rem;
    }

    .text--about {
        margin: 0;
    }


}