.btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: .5em 2em;
    border-radius: 1.5em;
    border: 2px solid var(--color-1);
    transition: all .2s ease;
}

.btn:hover {
    background-color: var(--color-1);
    color: var(--white);

    &>* {
        color: var(--white);
    }
}

.btn--lg {
    padding: 1em 3em;
    color: var(--white);
    background-color: var(--color-1);
    border: none;

    &:hover {
        background-color: var(--color-2);
    }
}

.btn--nav {
    margin: 0;
}

.btn--card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background-color: #F8F8F8;
}

@media screen and (min-width: 768px) {
    .btn--lg {
        padding: 1.5em 3em;
    }
}

@supports (scroll-behavior: smooth) {
    html {
        scroll-behavior: smooth;
    }
}