.header__image {
    height: 13rem;
    // width: 100%;
}

.header__wrapper {
    display: grid;
    grid-gap: 1rem;
}

.header__left {}

.header__right {
    margin: 0 auto;
    display: flex;
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 80%;
    background-image: url("/img/svg/shadow.png");
}

@media screen and (min-width: 760px) {
    .header__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        grid-template-rows: repeat(auto-fit, auto);
    }

    .header__right {
        grid-row: 1;
        grid-column: 2 / 3;
    }
}