$baseFontSize : 16;
$primary: #1D3240;
$white: #ffffff;
$color-1: #1188FF;
$color-2: #076ED5;
$gradient-purple: linear-gradient(60deg, $color-1, $color-2);

@function rem($pixels, $context: $baseFontSize) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1rem;
}

:root {
    font-size: $baseFontSize+px;
    font-family: "Raleway", sans-serif;

    --primary: #1D3240;
    --white: #ffffff;
    --color-1: #1188FF;
    --color-2: #076ED5;
    --gradient-purple: linear-gradient(60deg, $color-1, $color-2);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: $primary;
    text-decoration: none;
    list-style: none;
    max-width: 100%;
}


.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: calc(700px + (1400 - 700) * ((100vw - 320px) / (1980 - 320)));

}

@media screen and (max-width: 320px) {
    .container {
        max-width: 700px;
    }
}

@media screen and (min-width: 768px) {
    $baseFontSize: 1.5rem;

    :root {
        font-size: $baseFontSize;
    }
}

@media screen and (min-width: 1024px) {
    $baseFontSize: 1.75rem;

    :root {
        font-size: $baseFontSize;
    }

    .container {
        // max-width: 960px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        // max-width: 1200px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        // max-width: 1360px;
    }
}

@media screen and (min-width: 1980px) {
    .container {
        max-width: 1400px;
    }
}

@media screen and (min-width: 2560px) {
    .container {
        // max-width: 1600px;
    }
}