.partners {
    margin: .5rem 0;
    background-color: $primary;
}

.partners__wrapper {
    display: flex;
    // padding: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.partner {
    opacity: .8;
    height: 1.5rem;
    margin: .725rem 1.5rem;
    filter: grayscale(100%) brightness(1.3);
    transition: opacity filter .3s ease;
}

.partner:hover {
    opacity: 1;
    // filter: grayscale(0%) brightness(1);
}