@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

.centered {
    text-align: center;
}

.header__subtitle {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1980 - 320)));
}


.header__title {
    margin-bottom: 1rem;
    font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1980 - 320)));
    font-weight: 700;
}

.header__p {
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.text--title {
    @extend .centered;
    margin: 1em;
    font-size: 2rem;
    font-weight: 700;
}

.text--subtitle {
    @extend .centered;
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1980 - 320)));

    margin: 1em;
    font-weight: 700;
}

.card__title {
    font-weight: 700;
}

.text--medium {
    font-size: 24px;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1980 - 320)));

    font-weight: 400;
}

.text--small {
    font-size: 18px;
    font-weight: 400;
}

.text--lg {
    font-size: calc(24px + (54 - 24) * ((100vw - 320px) / (1980 - 320)));
}

@media screen and (max-width: 320px) {

    .header__title {
        font-size: 40px;
    }

    .header__subtitle {
        font-size: 16px;
    }

    .text--subtitle {
        font-size: 20px;
    }

    .text--medium {
        font-size: 16px;
    }

    .text--lg {
        font-size: 24px;
    }
}

@media screen and (min-width: 1980px) {

    .header__title {
        font-size: 80px;
    }

    .header__subtitle {
        font-size: 32px;
    }

    .text--subtitle {
        font-size: 32px;
    }

    .text--medium {
        font-size: 24px;
    }

    .text--lg {
        font-size: 54px;
    }
}