@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


.header__subtitle {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: rem(18);
}

.header__title {
    margin-bottom: 1rem;
    font-size: rem(40);
    font-weight: 700;
}

.header__p {
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.text--title {
    font-weight: 700;
}

.text--subtitle {
    font-weight: 700;
}

.card__title {
    font-weight: 700;
}

.text--medium {
    font-weight: 400;
}

.text--small {
    font-weight: 400;
}