.work {
    text-align: center;
}

.cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.card {
    margin: 30px;
    width: 395px;
    box-shadow: 0px 4px 8px;
    // padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card header,
.card__top {
    min-height: 50%;
}

.card__image {
    margin: 0 auto;
    max-height: 100px;
}

.card__title {
    font-size: 24px;
}

.separator {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    opacity: .5;
}