.work {
    // text-align: center;
}

.cards__wrapper {
    // display: grid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    // grid-template-columns: repeat(auto-fit, minmax(15rem, 400px));
}

.card {
    // min-width: 100%;
    margin: 1rem auto;
    width: 320px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .15);
    display: grid;
    grid-template-rows: 170px 170px 80px;
}

.card header,
.card__top {
    padding: 40px 0;
    margin: 0 40px;
}

.card__top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;

}

.card__image {
    margin: 0 auto;
    max-height: 80px;
}

.card__header {
    text-align: left;
}

.card__title {
    font-size: 24px;
}

.open-source__image {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.open-source__image img {
    max-height: 100%;
}

.open-source__content * {
    margin: 1rem;
}