.work {
    // text-align: center;
}

.cards__wrapper {
    // display: grid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    // grid-template-columns: repeat(auto-fit, minmax(15rem, 400px));
}

.card {
    // min-width: 100%;
    margin: 1rem auto;
    width: 320px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .15);
    display: grid;
    grid-template-rows: 170px 170px 80px;
    position: relative;
    overflow: hidden;
}

.card__overlay {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: -100px;
    background-color: #fff;
    opacity: 0;
    transform: translateY(-100%);
    padding: 40px 40px 140px 40px;
    cursor: pointer;
    transition: opacity .2s .1s ease, transform .3s ease;
}

.card:hover .card__overlay {
    transform: translateY(0);
    opacity: 1;
}

.appstore {
    width: 100%;
    opacity: .7;
    transition: opacity .2s ease;
}

.appstore:hover {
    opacity: 1;
}


.card__header,
.card__top {
    padding: 40px 0;
    margin: 0 40px;
}

.card__top {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #aaaaaa;

}

.card__header {
    grid-row: 2 / 3;
}

.card__image {
    margin: 0 auto;
    max-height: 80px;
}

.card__header {
    text-align: left;
}

.card__title {
    font-size: 24px;
}



.open-source__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.open-source__image {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.open-source__image img {
    max-height: 250px;
}

.open-source__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.open-source__content * {
    margin: 1rem;
}

.open-source__content .btn {
    align-self: center;
}


@media screen and (min-width: 1000px) {
    .open-source__content .btn {
        align-self: flex-end;
    }

    .open-source__image {
        margin-left: 1rem;
        margin-bottom: 0;
        height: 100%;
    }

    .open-source__content {
        max-width: 80%;
    }

    .open-source__wrapper {
        flex-direction: row;
    }

    .open-source__image {
        order: 2;
    }
}