/*GENERAL*/

@import "init";
@import "type";
@import "nav";
@import "comp";
@import "header";
@import "partners";
@import "work";
@import "about";
@import "footer";


.header {
    padding-top: 6rem;
    padding-bottom: 4rem;
}