/*GENERAL*/
:root {
    font-family: "Raleway", sans-serif;
    --primary: #1D3240;
    --white: #ffffff;
    --color-1: #AF17FF;
    --color-2: #CA1CC4;
    --gradient-purple: linear-gradient(270deg, var(--color-1), var(--color-2));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary);
    text-decoration: none;
    list-style: none;
    max-width: 100%;
}


.container {
    padding: 0 1rem;
}

/* NAVIGATION */
.nav {
    position: fixed;
    width: 100%;
    background-color: var(--white);
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo a img {
    margin: .5rem 0;
    height: 2rem;
    transition: filter .3s ease;
    will-change: filter;
}

.nav__logo a img:hover {
    filter: brightness(120%);
}

/* HAMBURGER */
.menu__checkbox {
    display: none;
}

.menu__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5rem;
    width: 2rem;
}

.burger__bar {
    height: 3px;
    width: 100%;
    border-radius: 2px;
    transform-origin: 1px;
    background-color: var(--primary);
    transition-property: opacity transform;
    transition: .2s .1s ease;
}


/* ANIMATIONS ON CHECK */
.menu__checkbox:checked+.menu__button>.burger__bar:nth-child(1) {
    transform: rotate(45deg);
}

.menu__checkbox:checked+.menu__button>.burger__bar:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;

}

.menu__checkbox:checked+.menu__button>.burger__bar:nth-child(3) {
    transform: rotate(-45deg);
}



.nav__menu {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--white);
    transform: translateX(-100%);
    transition: transform .3s ease;
    will-change: transform;
}

.menu__item {
    padding: 2rem 0;
}

.menu__item a {
    font-size: 1.625rem;
    padding: 2rem;
}

.menu__checkbox:checked~.nav__menu {
    transform: translateX(0);
}

.header {
    padding-top: 6rem;
    padding-bottom: 4rem;
}